@font-face {
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: local('Inconsolata'), url('assets/fonts/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff') format('woff');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu Mono'), url('assets/fonts/UbuntuMono-R.woff') format('woff');
}


.jumbotron {
  background-image:url('images/abendrot-2-2.jpg');
  background-repeat:no-repeat;
  background-position:left top;       
}
p {
  margin-top : 20px;
}
h1.brand {
  letter-spacing:30px;
}
ul.breadcrumb li .divider i {
  opacity: .5;
}
.underlined {
  text-decoration: underline;
}
accordion-heading:hover {
  text-decoration: none;
}
.accordion-group {
  border : none;
}
.accordion-heading .accordion-toggle {
  display:inline;
}
.thumbnails li {
  margin-right:  1em;
  margin-bottom:  0;
}

ul#done {
   list-style-image: url(icons/caracteristica_icon.png);
}
ul#coming-soon {
   list-style-image: url(icons/icon_comingsoon_sml.jpg);
}
li {
  vertical-align: top;
}



/* BEGIN twitter bootstrap overrides */

body {
  font-family: 'Ubuntu Mono', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Ubuntu Mono', inherit;
}

code,
pre {
  font-family: 'Ubuntu Mono', Monaco, Menlo, Consolas, "Courier New", monospace;
}

input,
button,
select,
textarea {
  font-family: 'Ubuntu Mono', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.navbar-search .search-query {
  font-family: 'Ubuntu Mono', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body > .navbar .brand {
  float: left;
  color: #CA8B4C;
}

/* END twitter bootstrap overrides */
